<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/login.html">
        <div>
            <!-- Form创建的标签 -->
            {{ form.username|safe }}

            <!-- 错误信息 -->
            <span>{{form.error_dict.username}}</span>
        </div>
        <div>
            {{ form.password|safe }}
            <span>{{form.error_dict.password}}</span>
        </div>
        <div>
            {{ form.email|safe }}
            <span>{{form.error_dict.email}}</span>
        </div>
        <input type="submit" value="提交"/>
    </form>

</body>
</html>