<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/login.html">
        <div>
            <!-- Form创建的标签 -->
            {{ !form.username }}

            <!-- 错误信息 -->
            <span>{{form.error_dict.get('username',"")}}</span>
        </div>
        <div>
            {{ !form.password }}
            <span>{{form.error_dict.get('password',"")}}</span>
        </div>
        <div>
            {{ !form.email }}
            <span>{{form.error_dict.get('email',"")}}</span>
        </div>
        <input type="submit" value="提交"/>
    </form>

</body>
</html>