<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="/statuc/commons.css"> -->
    <link rel="stylesheet" href="{{static_url('commons.css')}}">
</head>
<body>
    <h1 class="c1">Login</h1>
    <form method="post">
        <!-- csrf_token > xcrf_cookie -->
        {% raw xsrf_form_html() %}
        <!-- end xcrf_cookie -->
        <input type="text" name="user">
        <input type="text" name="pwd">
        <input type="submit" value="submit">
        <!-- msg -->
        {{ msg }}
        <!-- end msg -->
    </form>
</body>
</html>