<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height:48px;background-color: aquamarine"></div>
{% block content %} {% end %}
</body>
</html>