{% extends 'layout.html' %}

{% block content %}
<h2>种类列表</h2>
    <ul>
        {% for item in seed_list %}
            <li>{{ item['title'] }} -- {{ item['price']}}</li>
            <li>{{ item.get('title') }} -- {{ item.get('price')}}</li>
        {% end %}
    </ul>
{% end %}