{% extends 'layout.html' %}

{% block content %}
<h2>视频列表 {{ tab() }}</h2>
    {% raw tag() %}
    {% module Custom(123) %}
    <ul>
        {% for item in video_list %}
            <li>{{ item.get('title') }} -- {{ item.get('price')}}</li>
        {% end %}
    </ul>
{% end %}